# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# Production
/build/

# Testing
/coverage/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
